/* taken from https://magit.vc/assets/themes/black-on-white.css */


body {
	background: #fff;
	color: #000;
}
#s-css-s--menu,
div#campaign,
div#donate,
blockquote,
img,
video {
  box-shadow: 2px 2px 15px #000;
}
i { /* Used for key bindings */
  border-color: #000;
  box-shadow: 1px 1px 5px #000;
}
div#donate a,
a.dotted {
  color: #000;
}
