/* taken from https://magit.vc/assets/themes/default-high-contrast.css */


body {
  background-color: #fdf6e3;
  color: #002b36;
}
a {
  color: #574100;
}
a:visited {
  color: #443603;
}
h1,
h2,
h3,
h4 {
  color: #178221;
}
#s-css-s--menu,
div#campaign,
div#donate,
blockquote,
img,
video {
  box-shadow: 2px 2px 15px #93a1a1;
}
i { /* Used for key bindings */
  border-color: #443603;
  box-shadow: 1px 1px 5px #93a1a1;
}
#s-css-s--menu,
i,
code,
div#campaign,
div#donate,
blockquote {
  background-color: #eee8d5;
}
blockquote::before {
  color: #ab2720;
}
div#donate a,
a.dotted {
  color: #002b36;
}
