/* taken from https://magit.vc/assets/page.css */


body {
  font-family: 'Noto Serif', serif;
  text-align: justify;
  max-width: 700px;
  margin: 50px;
  margin-right: auto;
  margin-left: auto;
}

a.small {
  font-size: xx-small;
}

h1, h2, h3, h4 {
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  margin-top: 40px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

header h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}

header img {
  display: block;
  /* margin-left: calc(50% - 244px); */
  margin-left: auto;
  margin-right: auto;
}

img, video {
  margin-top: 10px;
  margin-bottom: 20px;
}

video#gource {
  box-shadow: none;
}

header img, img.clear {
  box-shadow: unset;
  margin-top: 0;
  margin-bottom: 0;
}

details {
  cursor: se-resize;
}

details[open] {
  cursor: default;
}

/* Used for key bindings */
i {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 0px 5px 1px 5px;
}

code {
  padding: 2px;
}

blockquote {
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 0px;
  margin-bottom: 20px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
}

blockquote::before {
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 5px;
}

div#campaign {
  display: block;
  padding: 15px 20px 15px 20px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

div#campaign img {
  box-shadow: unset;
}

img.paylogo {
  box-shadow: unset;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#donate p:nth-child(1) {
  text-align: justify;
}

div#donate {
  display: block;
  padding: 15px 20px 15px 20px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
  position: relative;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

div#donate div:nth-child(1) a, a.dotted {
  text-decoration-style: dotted;
}

div#donate div:nth-child(2) {
  margin-top: 20px;
  text-align: center;
}

div#donate div:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

div#donate div:nth-child(3) img, img.donate {
  box-shadow: unset;
  height: 50px;
  width: auto;
}

div#donate div:nth-child(3) {
  text-align: center;
}

/* simple-CSS-switch style */
#s-css-s--menu {
    position: absolute;
    top: 1em;
    right: 1em;
    opacity: .3;
    transition: opacity 0.3s ease;
}
#s-css-s--menu:hover {
  opacity: 1;
}
.s-css-s-button:focus {
    outline: 0 none;
}
.s-css-s-button {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: .2em;
    padding: 0;
    color: inherit;
    background-color: inherit;
}
.s-css-s--active-style {
    border-style: inset;
}
.s-css-s-default-css {
  color: #586e75;
  background-color: #fdf6e3;
}
.s-css-s-default-high-contrast-css {
  color: #002b36;
  background-color: #fdf6e3;
}
.s-css-s-solarized-dark-xterm-css {
  color: #808080;
  background-color: #1c1c1c;
}
.s-css-s-black-on-white-css {
  color: #000;
  background-color: #fff;
}
/* simple-CSS-switch style end */
