name: Check format

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '**.h'
      - '**.c'
      - 'liblouis/liblouis/liblouis.h.in'
  pull_request:
    branches: [ master ]
    paths:
      - '**.h'
      - '**.c'
      - 'liblouis/liblouis/liblouis.h.in'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  check-format:
    name: Check the code formatting

    runs-on: ubuntu-22.04

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Install dependencies
      run: sudo apt-get update -qq && sudo apt-get install -y clang-format-14
    - name: Autogen && configure
      run: |
        ./autogen.sh
        ./configure
    - name: Check format
      run: |
        make format-sources
        git diff-index --exit-code HEAD -- .
