# CIFuzz action for OSS-Fuzz set up of Liblouis.
# CIFuzz documentation:
# - https://google.github.io/oss-fuzz/getting-started/continuous-integration
# Liblouis OSS-Fuzz project:
# - https://github.com/google/oss-fuzz/blob/master/projects/liblouis
# This CI action will build the fuzzers using the Dockerfile and build.sh
# script from the Liblouis OSS-Fuzz project folder. It runs on GitHub's
# servers.
name: CIFuzz
on: [pull_request]
jobs:
  Fuzzing:
    runs-on: ubuntu-latest
    steps:
    - name: Build Fuzzers
      id: build
      uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master
      with:
        oss-fuzz-project-name: 'liblouis'
        language: c
    - name: Run Fuzzers
      uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master
      with:
        oss-fuzz-project-name: 'liblouis'
        fuzz-seconds: 300
        language: c
    - name: Upload Crash
      uses: actions/upload-artifact@v3
      if: failure() && steps.build.outcome == 'success'
      with:
        name: artifacts
        path: ./out/artifacts
