name: Test macro feature

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths-ignore:
      - README
      - NEWS

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build:
    name: Test macro feature

    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Install dependencies
      run: sudo apt-get update -qq && sudo apt-get install -y libyaml-dev
    - name: Autogen && configure
      run: |
        ./autogen.sh
        ./configure --enable-macros
    - name: Make
      run: make
    - name: Make check
      run: make check
    - name: Store the test log
      if: ${{ always() }} # store the test log even if the tests failed
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: test-suite-macro.log
        path: tests/test-suite.log
